<h2>Customer Helper Demo Page</h2>
<p>
	Your total is {{format-currency '1234'}}.
</p>
<ul>
	<li>
		{{#link-to "index" class="homepage-link" data-toggle="dropdown"}}Homepage{{/link-to}}
	</li>
</ul>		